{% extends 'main/general.html' %}
{% load static  %}

{% block title %}
Новости
{% endblock %}
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

{% block content %}

<div class="features">
    <h1>новости</h1>

    {% if news %}

        {% for el in news %}
        <div class="alert alert-light">

    <img src="{% static el.imgurl %}"   style="width:auto; max-height: 200px; float: right">

        <h1>{{ el.title}}</h1>
        <p>{{ el.anons}}</p>
            <a href="{% url 'news-detail' el.id %}"class="btn btn-warning">Подробнее</a>
    </div>
        {% endfor %}
    {% else  %}
        <p>Статьи отсутствуют</p>
    {% endif %}

</div>
{% endblock %}

{% block button %}
<link rel="stylesheet" type="text/css" href="{% static 'newsline/css/newsline.css' %}">
<div class="container">
<div class="category-buttons">
  <a class="category-button" href="{% url 'category_articles' category_slug='education' %}">Образование</a>
  <a class="category-button" href="{% url 'category_articles' category_slug='sport' %}">Спорт</a>
    <a class="category-button" href="{% url 'category_articles' category_slug='culture' %}">Культура</a>
    <a class="category-button" href="{% url 'category_articles' category_slug='science' %}">Наука</a>
    <a class="category-button" href="{% url 'category_articles' category_slug='society' %}">Общество</a>
    <a class="category-button" href="{% url 'category_articles' category_slug='business'%}">Бизнес</a>
</div>
</div>>


            {% endblock%}
