{% extends 'main/general.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="features2">

   <div class="container2" style=" margin-top: -70px; margin-right: -150px;">
       <h2>Добро пожаловать на новостной портал "Новости КЭИ"!</h2>
    <p>Здесь вы найдете самые свежие новости о жизни нашего колледжа, актуальные события в мире науки и технологий,
        а также интересные статьи о проектах и достижениях наших студентов и преподавателей.
        Мы стремимся предоставлять вам только самую полезную и достоверную информацию,
        чтобы помочь вам быть в курсе всех событий и наслаждаться жизнью в нашем колледже.
        Будьте с нами и оставайтесь в курсе всех новостей!</p>
</div>

    <img src="{% static 'main/images/kei.jpg' %}" alt="фото ульска" style="max-width: 100%; height: auto; margin-left: 13%;">
</div>
{% endblock %}




