{% extends 'main/general.html' %}

{% block title %}
полезные ссылки
{% endblock %}

{% block content %}
<div class="features">
    <h1>Полезные ссылки:</h1>
    <p><a href="https://ulmeria.ru">ссылка на администрацию города</a></p>
    <p><a href="http://kei.ulstu.ru">ссылка на лучший колледж этого города</a></p>

</div>
{% endblock %}
{%block button%}
  <div class="dropdown" style="position: relative; right: 60%;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Аккаунт
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      {% if user.is_authenticated %}
        <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
      {% else %}
        <a class="dropdown-item" href="{% url 'login' %}">Войти</a>
        <a class="dropdown-item" href="{% url 'register' %}">Зарегистрироваться</a>
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}