{% extends 'main/general.html' %}

{% block title %}
Контакты
{% endblock %}
{% block content %}
<div class="features4">
    <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>

  <style>
    .contact-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f5f5f5;
    }
    .contact-container .address {
      flex: 1;
    }
    .contact-container .social {
      flex: 1;
    }
    .contact-container h2 {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="contact-container">
    <div class="address">
      <h2>     Адрес</h2>
      <p>32063, г. Ульяновск
ул.Энгельса, 3
(учебный корпус № 1)
каб. 119</p>
    </div>
    <div class="social">
      <h2>В соцсетях</h2>
      <ul>
        <li><i class="fab fa-vk"></i><strong><a href="https://vk.com/kei_ulstu">Vkontakte</strong> </li>
        <li><i class="fab fa-telegram"></i><strong><a href="https://t.me/keiulgtu">Telegram</strong> </li>
        <li><i class="fab fa-instagram"></i><strong><a href="https://instagram.com/kei_ulstu?igshid=NTc4MTIwNjQ2YQ==">Instagram</strong> </li>
          <li><i class="fab fa-youtube"></i><strong><a href="https://www.youtube.com/@user-oq2kz1ji5w/featured">YouTube</strong> </li>
      </ul>
    </div>
  </div>
</body>

</div>
{% endblock %}